<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.sync2</package>
	<author>user</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.sync2.Sync2ModuleActivator</activator>
	

	<!-- /Base Module Properties -->
	
	<require_version>2.0.5</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

