<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.sync2</package>
	<author>user</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.sync2.Sync2ModuleActivator</activator>
	

	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${uiframeworkVersion}">
			org.openmrs.module.uiframework
		</require_module>
		<require_module version="${uicommonsVersion}">
			org.openmrs.module.uicommons
		</require_module>
		<require_module version="${fhirVersion}">
			org.openmrs.module.fhir
		</require_module>
		<require_module version="${atomfeedVersion}">
			org.openmrs.module.atomfeed
		</require_module>
	</require_modules>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->


	<!--Global Properties-->
	<globalProperty>
		<property>${project.parent.artifactId}.user.login</property>
		<defaultValue>admin</defaultValue>
		<description>This is username for the parent instance.</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.user.password</property>
		<defaultValue>Admin123</defaultValue>
		<description>This is password to the parent instance.</description>
	</globalProperty>

	<globalProperty>
		<property>${project.parent.artifactId}.resource.preferred.client</property>
		<defaultValue>rest</defaultValue>
		<description>Preferred client for pulling resources.</description>
	</globalProperty>

	<privilege>
		<name>Load Sync2 config</name>
		<description>Ability to load Sync 2 configuration from file.</description>
	</privilege>

	<privilege>
		<name>Sync2 Audit Privilege</name>
		<description>Ability to view Sync 2 audit messages</description>
	</privilege>

</module>

