#apps {
    display: inline-flex;
}

.button {
    width: 150px;
    height: 90px;
    padding-top: 60px;
    text-align: center;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    background: #009384;
    text-decoration: none !important;
}

.button:hover {
    background: #5B57A6;
    text-align: center;
}
